<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="rewite /[pasta]/[pasta1] to index.php?controller=[pasta]&amp;action=[pasta1]">
                    <match url="([_0-9a-z-]+)/([_0-9a-z-]+)" />
                    <action type="Rewrite" url="index.php?controller={R:1}&amp;action={R:2}" />
                    <conditions>
                        <add input="{REQUEST_URI}" pattern="^/testsDev/(.*)$" negate="true" />
			<add input="{REQUEST_URI}" pattern="^/tests/(.*)$" negate="true" />
                    </conditions>
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
